* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.add-btn {
    display: flex;
    justify-content: end;
    margin-right: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}